h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #cccccc;
  margin-bottom: 20px;
}

body {
  background: #1e1e1e;
  font-family: 'Consolas', 'Courier New', monospace;
  color: #cccccc;
}

#todo-list {
  width: 500px;
  margin: 40px auto;
}

form,
.todo {
  border: 1px solid #404040;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #2d2d2d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

form input {
  padding: 10px;
  flex-grow: 1;
  margin-right: 16px;
  border: 1px solid #404040;
  border-radius: 4px;
  background-color: #3c3c3c;
  color: #cccccc;
}

.todo {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 14px;
  background-color: #007acc;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005fa3;
}

button:active {
  background-color: #005fa3;
}

button:focus {
  outline: none;
}

input[type='text'] {
  font-size: 14px;
  font-family: 'Consolas', 'Courier New', monospace;
  color: #cccccc;
  border-radius: 8px;
}

.todo input[type="checkbox"] {
  transform: scale(1.2) translateY(1px);
  margin-right: 8px;
  cursor: pointer;
}

.todo-text input {
  padding: 4px;
}

.todo-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.todo-completed {
  display: flex;
  margin: 10px 0;
}

.todo-actions {
  display: flex;
  justify-content: space-between;
}

#completed {
  margin-left: 15px;
}
